In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("skin_products.csv")

In [4]:
df.head()

,Unnamed: 0,category,product_title,product_ribbon,product_prev_price,product_curr_price,product_app_price,product_weight
0,0,skin,Lilac 3X Spot Lightener,FREE DELIVERY**,৳ 350.00,৳ 312.00,App Price: ৳ 303.00,50gm
1,1,skin,Rajkonna Glow Booster Facial Wash With Jojoba ...,FREE DELIVERY**,৳ 185.00,৳ 165.00,App Price: ৳ 157.00,100ml
2,2,skin,Rajkonna Acne Fighting Facial Wash With Jojoba...,FREE DELIVERY**,৳ 185.00,৳ 165.00,App Price: ৳ 160.00,100ml
3,3,skin,Skin Cafe 100% Natural Rose Water Face And Bod...,FREE DELIVERY**,৳ 320.00,৳ 281.60,App Price: ৳ 273.00,120ml
4,4,skin,Skin Cafe Pure & Natural Aloe Vera gel 98%,FREE DELIVERY**,৳ 500.00,৳ 440.00,App Price: ৳ 427.00,240ml

In [5]:
df.shape

(38520, 8)

In [6]:
df.columns

Index(['Unnamed: 0', 'category', 'product_title', 'product_ribbon',
       'product_prev_price', 'product_curr_price', 'product_app_price',
       'product_weight'],
      dtype='object')

In [7]:
# write a code to update the columns[0] to ID 
df = df.rename(columns = {'Unnamed: 0' : 'ID'})
df.head()

,ID,category,product_title,product_ribbon,product_prev_price,product_curr_price,product_app_price,product_weight
0,0,skin,Lilac 3X Spot Lightener,FREE DELIVERY**,৳ 350.00,৳ 312.00,App Price: ৳ 303.00,50gm
1,1,skin,Rajkonna Glow Booster Facial Wash With Jojoba ...,FREE DELIVERY**,৳ 185.00,৳ 165.00,App Price: ৳ 157.00,100ml
2,2,skin,Rajkonna Acne Fighting Facial Wash With Jojoba...,FREE DELIVERY**,৳ 185.00,৳ 165.00,App Price: ৳ 160.00,100ml
3,3,skin,Skin Cafe 100% Natural Rose Water Face And Bod...,FREE DELIVERY**,৳ 320.00,৳ 281.60,App Price: ৳ 273.00,120ml
4,4,skin,Skin Cafe Pure & Natural Aloe Vera gel 98%,FREE DELIVERY**,৳ 500.00,৳ 440.00,App Price: ৳ 427.00,240ml

In [13]:
df.isna().sum()

In [12]:
# while applying lambda make sure the lambda returns float value compatible with np 
# Python
import re
import numpy as np

# Assume the columns 'product_prev_price', 'product_curr_price', 'product_app_price' contain such characters
for col in ['product_prev_price', 'product_curr_price', 'product_app_price']:
    # Applying the function which removes the non-number characters and convert the result to float
    df[col] = df[col].apply(lambda x: np.float64(re.sub(r'[^0-9.]','', str(x))) if pd.notnull(x) else np.nan)
    
df.head()

,ID,category,product_title,product_ribbon,product_prev_price,product_curr_price,product_app_price,product_weight
0,0,skin,Lilac 3X Spot Lightener,FREE DELIVERY**,350.0,312.0,303.0,50gm
1,1,skin,Rajkonna Glow Booster Facial Wash With Jojoba ...,FREE DELIVERY**,185.0,165.0,157.0,100ml
2,2,skin,Rajkonna Acne Fighting Facial Wash With Jojoba...,FREE DELIVERY**,185.0,165.0,160.0,100ml
3,3,skin,Skin Cafe 100% Natural Rose Water Face And Bod...,FREE DELIVERY**,320.0,281.6,273.0,120ml
4,4,skin,Skin Cafe Pure & Natural Aloe Vera gel 98%,FREE DELIVERY**,500.0,440.0,427.0,240ml

In [14]:
# split the product_weight column into two new columns each having either gm or ml and make NaN for corresponding 
# Creating new columns 'weight_gm' and 'weight_ml'
df['weight_gm'] = df['product_weight'].str.extract('(\d*\.?\d+)(?=gm)').astype(float)
df['weight_ml'] = df['product_weight'].str.extract('(\d*\.?\d+)(?=ml)').astype(float)

df.head()

,ID,category,product_title,product_ribbon,product_prev_price,product_curr_price,product_app_price,product_weight,weight_gm,weight_ml
0,0,skin,Lilac 3X Spot Lightener,FREE DELIVERY**,350.0,312.0,303.0,50gm,50.0,NaN
1,1,skin,Rajkonna Glow Booster Facial Wash With Jojoba ...,FREE DELIVERY**,185.0,165.0,157.0,100ml,NaN,100.0
2,2,skin,Rajkonna Acne Fighting Facial Wash With Jojoba...,FREE DELIVERY**,185.0,165.0,160.0,100ml,NaN,100.0
3,3,skin,Skin Cafe 100% Natural Rose Water Face And Bod...,FREE DELIVERY**,320.0,281.6,273.0,120ml,NaN,120.0
4,4,skin,Skin Cafe Pure & Natural Aloe Vera gel 98%,FREE DELIVERY**,500.0,440.0,427.0,240ml,NaN,240.0

In [15]:
# but spaces allowed 
# remove special characters except space from product_ribbon 
# We can modify regular expression to remove all non-word characters except space.
df['product_ribbon'] = df['product_ribbon'].apply(lambda x: re.sub(r'[^\w\s]','', str(x)))

df.head()

,ID,category,product_title,product_ribbon,product_prev_price,product_curr_price,product_app_price,product_weight,weight_gm,weight_ml
0,0,skin,Lilac 3X Spot Lightener,FREE DELIVERY,350.0,312.0,303.0,50gm,50.0,NaN
1,1,skin,Rajkonna Glow Booster Facial Wash With Jojoba ...,FREE DELIVERY,185.0,165.0,157.0,100ml,NaN,100.0
2,2,skin,Rajkonna Acne Fighting Facial Wash With Jojoba...,FREE DELIVERY,185.0,165.0,160.0,100ml,NaN,100.0
3,3,skin,Skin Cafe 100% Natural Rose Water Face And Bod...,FREE DELIVERY,320.0,281.6,273.0,120ml,NaN,120.0
4,4,skin,Skin Cafe Pure & Natural Aloe Vera gel 98%,FREE DELIVERY,500.0,440.0,427.0,240ml,NaN,240.0

In [16]:
df.duplicated().sum()

0

In [17]:
df = df.drop_duplicates()

In [18]:
df.shape

(38520, 10)

In [24]:
df.describe()

,ID,product_prev_price,product_curr_price,product_app_price,weight_gm,weight_ml
count,"38,520.00","24,836.00","38,520.00","25,693.00","9,668.00","24,856.00"
mean,"19,259.50","1,140.15",919.46,995.80,86.73,117.09
std,"11,119.91","1,440.84","1,061.81",824.79,86.71,115.59
min,0.00,40.00,15.00,15.00,2.00,2.00
25%,"9,629.75",310.00,261.00,340.00,48.00,50.00
50%,"19,259.50",650.00,546.00,728.00,70.00,100.00
75%,"28,889.25","1,450.00","1,250.00","1,552.00",100.00,150.00
max,"38,519.00","13,000.00","10,500.00","6,645.00",650.00,"1,000.00"

In [25]:
df.to_csv('skin_products_preprocessed.csv')